

.immagine3 {

  margin: 0 auto;
}
.verdeScuro {
  background-color: rgb(47, 132, 93);
  padding: 20px;
}

.bianco {
  color: white;
}
.verde {
  color: rgb(67, 184, 132);
}

.blu {
  color: rgb(77, 106, 140);
}